#Products{
    display: flex;
    gap: 100px;
}

#Savings, #Currency_exchange, #Loans, #Investments{
    height: 150px;
    width: 350px;
    background-color: grey;
    text-align: center;
}